body {
  background: #75b4e3;
}

.header {
  color: #fff;
  font-family: "Rubik Vinyl", cursive;
  letter-spacing: 5px;
  font-size: 3em;
}

.row-cont {
  display: flex;
  justify-content: space-around;
}

i {
  margin-top: 0;
  font-size: 35px;
}

.bottom {
  margin-bottom: 100px;
}
